{erl_opts, [
    debug_info,
    {feature,maybe_expr,enable}
]}.
{deps, [
    {cowboy, "~> 2.10.0"},
    {jiffy, "~> 1.1.0"},
    {poolboy, "~> 1.5.0"},
    {emodel, "~> 1.5.0"},
    {uuid, "~> 2.0.0", {pkg, uuid_erl}},
    {mongodb, {git, "https://github.com/emqx/mongodb-erlang.git", {tag, "v3.0.20"}}}
]}.

{relx, [
    {release, {todo, "0.1.0"}, [todo, sasl]},

    {mode, dev},

    {sys_config, "./config/sys.config"},
    {vm_args, "./config/vm.args"}
]}.

{profiles, [{
    prod, [
      {relx, [{mode, prod}]}
    ]
}]}.
